body {
  background-color: lightblue;
  color: white;
  text-align: center;
}


h1 {
  color: white;
  font-size: 30px;
}

.wiki {
  font-size: x-small;
}

p {
  font-family: verdana;
  font-size: 20px;
}

.buttons {
  background-color: #52c5e4;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-family: 'Courier New', Courier, monospace;
  margin: 4px 2px;
  cursor: pointer;
}

#display_button {
  background-color: #87d9f0;
  color: white;
  border: none;
  padding: 15px 32px;
  text-align: center;
  font-size: 15px;
  font-family: 'Courier New', Courier, monospace;
  margin: 6px 6px;
  cursor: pointer;
}

#increment {
  display: inline;
}

#reset {
  display: inline;
}

#currentNumber {
  text-align: center;
  background: transparent;
  border: none;
  font-size: xxx-large;
  width: 2em;
  color: white;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  text-align: center;
}

li::before {
  content: '• ';
}